<html>
    <head>
        <title>Debugging Demo Application</title>
    </head>
    <body>
        <h2>Found {{ customer_count }} customers and {{ product_count }} products in the database</h2>
    </body>
</html>
